/* .col-md-4 > img {
    width: 140px;
    height: 140px;
} */

.col-sm > img {
    width: 140px;
    height: 140px;
}

/* .col > img {
    width: 140px;
    height: 140px;
} */
.navbar-dark .navbar-nav .nav-link {
    color: red;
}

p, iframe{
    margin-top: 3rem;
    /* margin-bottom: 1rem; */
}

.demoVideo {
    margin: auto;
}